/* Utilities
****************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Verdana, sans-serif;
}

body {
    width: 1200px;
    margin: auto;

}

.site_main,
.site_footer,
.block_two,
.block_three,
nav {
    margin-top: 20px;
}

/* Settaggio testa della pagina
************* */
.logo {
    max-width: 200px;
    max-height: 100px;
    margin-right: 20px;
}

.head {
    position: relative;
}

.line {
    border-right: 2px solid rgb(175, 175, 175);
    height: 85px;
    position: absolute;
}

.logo_text>a {
    text-decoration: none;
    color: rgb(135, 135, 135);
}

.logo_text a:hover {
    background-color: rgba(247, 243, 6, 0.808);
}

/* ****************** */

/* Inizio settaggio colori main */

.block_one {
    position: relative;
}

.bottom_left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    width: 50%;
    margin: 50px;
    color: rgb(255, 255, 255);
}


img {
    width: 100%;
    border-radius: 1rem;
}

.block_two {
    height: 95px;
    background-color: rgba(179, 51, 183, 0.753);
}

.bage_small {
    width: 20%;
    height: 541px;
    float: left;
    background-color: rgba(241, 123, 12, 0.842);
}

.bage_middle {
    width: 58%;
    height: 541px;
    float: left;
    background-color: rgba(241, 123, 12, 0.842);
}

/* Dimensionamento 3 blocco */

.margin {
    margin-left: 12px;
    margin-right: 12px;
}

.container {
    max-width: 100%;
}

/* ********Clearfix***********/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* FINE clearfix */

/* Dichiarazione blocco colore footer */

.site_footer {
    height: 67px;
    background-color: rgba(44, 40, 40, 0.801);
}