/* Utilities
****************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Verdana, sans-serif;
}

body {
    width: 1200px;
    margin: auto;
}

.site_main,
.site_footer,
.block_two,
.container,
nav {
    margin-top: 20px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    z-index: 1;
    
}

/* Settaggio testa della pagina
************* */
.logo {
    max-width: 200px;
    max-height: 100px;
    margin-right: 20px;
}

.head {
    position: relative;
}

.line {
    border-right: 2px solid rgb(175, 175, 175);
    height: 85px;
    position: absolute;
}

.logo_text>a,
p,
footer {
    text-decoration: none;
    color: rgb(135, 135, 135);
}

.logo_text a:hover {
    background-color: rgba(247, 243, 6, 0.808);
}

/* ****************** */

/* Inizio settaggio colori main */

.bg_color{
    width: 100%;
    height: 99.5%;
    background-color: rgba(128, 128, 128, 0.267);
    position: absolute;
    z-index: 2;
    border-radius: 1rem;
    
}


.block_one {
    position: relative;
}

.bottom_left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    width: 50%;
    margin: 50px;
    color: rgb(255, 255, 255);
}

/* ********************* */

.bage_small {
    width: 20%;
    float: left;
}

.bage_middle {
    width: 45%;
    float: left;
}

.min_size > img{
    max-width: 250px;
    max-height: 200px;
    
}

.max_size > img{
    max-width: 600px;
    max-height: 200px;
    
}

/* Dimensionamento 3 blocco */

.margin {
    margin-left: 12px;
    margin-right: 12px;
}


/* ********Clearfix***********/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* FINE clearfix */

/* Dichiarazione blocco colore footer */

.site_footer {
    height: 67px;
    text-align: center;
}