/* Utilities
****************** */

:root{
    --montseerat-font: 'Montserrat', sans-serif;
    --arial-font: arial;
    --linegray-color: rgb(175, 175, 175);
    --paragraph-color: rgb(135, 135, 135);
    --hoverlink-color: rgba(247, 243, 6, 0.808);
    --textbottom-color: rgb(255,255,255);
    --heart-color:rgb(255, 0, 0);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1200px;
    margin: auto;
}

.site_main,
.site_footer,
.block_two,
.container,
nav, .block_four {
    margin-top: 20px;
}

.bage_small > img,
.bage_middle > img {
    filter: brightness(0.8);
    border-radius: 1rem;
    width: 100%;
    height: 200px;
    object-fit: cover;
}


img {
    max-width: 100%;
}

.hero_image {
    height: 600px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    filter: brightness(0.8);
}

/* Settaggio testa della pagina
************* */
.logo {
    max-width: 200px;
    max-height: 100px;
    margin-right: 20px;
}

.head, .block_one, .bage_middle, .bage_small {
    position: relative;
}

.line {
    border-right: 2px solid var(--linegray-color);
    height: 85px;
    position: absolute;
}

.logo_text>a,
footer {
    text-decoration: none;
    color: var(--paragraph-color);
    font-family: var(--montseerat-font);
}

.logo_text a:hover {
    background-color: var(--hoverlink-color);
}
/* ****************** */


/* Posizionamento testo nell'img principale */
.bottom_left {
    font-family: var(--montseerat-font);
    position: absolute;
    bottom: 8px;
    left: 16px;
    width: 50%;
    margin: 50px;
    color: var(--textbottom-color);
    z-index: 3;
}

.block_two{
    font-family: var(--arial-font);
}

.block_three,
.block_four{
    font-family: var(--montseerat-font);
}


/* ********************* */

.row_left {
    width: 19%;
    float: left;

}

.row_center {
    width: 58%;
    float: left;
}

/* Dimensionamento 3 blocco */

.margin {
    margin-left: 24px;
    margin-right: 24px;
}


/* ********Clearfix***********/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* FINE clearfix */

/* Dichiarazione blocco colore footer */

.copy {
    position: absolute;
    bottom: -1400px;
    left: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 25px;
}


.copy>span {
    color: var(--heart-color);
    font-size: 40px;
}